.landing {
    position: relative;
}

.creat-room {
    position: absolute;
    top: 5.79rem;
    right: 0.23rem;
    width: 0.56rem;
    height: 0.56rem;
    font-size: 0.16rem;
    background-image: url(../../assets/create.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/* 创建房间模块样式*/
.creat-drawer {
    font-size: 0.16rem;
    text-align: center;
    color: #ffffff;
    position: relative;
    max-width: 375px;
    left: calc(50vw - 187.5px) !important;
    
}

.creat-drawer .el-drawer {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.creat-drawer .el-drawer header {
    margin-bottom: 0rem;
}

.creat-room-table {
    width: 2.91rem;
    text-align: center;
    display: inline-block;
}

.landing {
    position: relative;
}

.room-set-img-title {
    font-weight: 500;
    height: 0.22rem;
    line-height: 0.22rem;
    margin-top: 0.15rem;
    margin-bottom: 0.2rem;
}

.selectRadio {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.12rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}

.selectRadio .selectRadioImg {
    width: 0.15rem;
    height: 0.15rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-color: #ffffff;
    margin-top: 0.04rem;
    margin-left: 0.41rem;
}

.selectRadio .selectRadioGIF {
    width: 0.2rem;
    height: 0.17rem;
    font-weight: 600;
    font-size: 0.12rem;
    text-align: center;
    line-height: 0.17rem;
    margin-left: 0.06rem;
    margin-top: 0.215rem;
}

.room-title-input input {
    border-radius: 0.56rem;
    height: 0.44rem;
}

.creat-room-table .creat-room-select-title {
    font-weight: 500;
    height: 0.22rem;
    line-height: 0.22rem;
    text-align: left;
    margin-top: 0.2rem;
}

.room-title-img-select {
    width: 100%;
    height: 0.6rem;
    margin-top: 0.15rem;
}

.creat-room-select-open {
    width: 100%;
    height: 0.28rem;
    margin-top: 0.15rem;
    line-height: 0.28rem;
}

.creat-room-select-open .creat-room-select-openSelect {
    float: left;
    margin-right: 0.59rem;
    font-size: 0.14rem;
    font-style: normal;
    font-weight: normal;
}

.creat-room-select-open .creat-room-select-openSelect .creat-room-select-get-head {
    width: 0.14rem;
    height: 0.14rem;
    border: 0.01rem solid #E92B88;
    border-radius: 50%;
    margin-top: 0.06rem;
    margin-right: 0.08rem;
    text-align: center;
    line-height: 0.13rem;
    float: left;
}

.creat-room-select-open .creat-room-select-openSelect .creat-room-select-get-head .creat-room-select-get-head-spot {
    display: inline-block;
    width: 0.08rem;
    height: 0.08rem;
    border-radius: 50%;
}

.creat-room-select-open .creat-room-select-openSelect .creat-room-select-get-foot {
    height: 0.2rem;
    line-height: 0.2rem;
    margin-top: 0.04rem;
    float: left;
}

.creat-room-button {
    width: 100%;
    height: 0.49rem;
    border-radius: 0.56rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/createAndJoin.png);
    margin-top: 0.33rem;
}



.avatar-uploader .el-upload {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
}

.avatar {
    width: 1rem;
    height: 1rem;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.miniWindow {
    position: absolute;
    z-index: 98;
    width: 93px;
    height: 166px;
    right: 12px;
    bottom: 113px;
    border-radius: 5px;
    background-color: #dd5898;
}

.miniClose {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 6px;
    top: 6px;
    z-index: 99;
    background: url(../../assets/live/icon-close.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.videocontainer {
    position: absolute;
}