ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.test {
    overflow: hidden;
    width: 4.1rem;
    height: 2rem;
    border: #c9d9e3 0.01rem solid;
}



.CallRoom {
    height: calc(100vh - 0.65rem);
    background: #F6F8F9;
    position: relative;
    overflow: hidden;
    text-align: center;

}

.CallRoom-bottom {
    width: 375px;
    height: 0.26rem;
    font-size: 0.14rem;
    text-align: center;
    padding-top: 0.1rem;
}

.CallRoom-noRoom {
    height: calc(100vh - 0.65rem);
    width: 375px;
    background-image: url(../../../assets/wheat/pleaseCreateRoom.png);
    background-repeat: no-repeat;
    background-size: 1.9rem 1.9rem;
    background-position: center;
}

.CallRoom-noRoom-value {
    display: inline-block;
    height: 0.24rem;
    line-height: 0.24rem;
    font-size: 0.16rem;
    font-weight: 400;
    opacity: 0.5;
    margin-top:56vh;
}

.infinite-list-wrapper {
    height: calc(100vh - 0.65rem);

}


.infinite-list {}

.list-item {
    width: calc(375px - 0.4rem);
    min-width: calc(320px - 0.4rem);
    margin-top: 0.12rem;
    height: 0.96rem;
    position: relative;
    border-radius: 0.08rem;
    background: #FFFFFF;
    margin-left: 0.2rem;
    margin-right: 0.02rem;
}